<div class="wrapper">
  <header class="nav-down">
    <div class="name">
      Yue Weng Mak
    </div>
    <img src="staging2.afar.com/transparent_1x1.gif" />
    <div class="right-side">
      <div class="social-buttons">
        <div class="work">
           <%= link_to "Let's work together", "mailto:yueweng.mak@gmail.com" %>
        </div>
        <%= link_to image_tag("twitter.png"), "https://twitter.com/YWMak" %>
        <%= link_to image_tag("github.png"), "https://github.com/yueweng" %>
        <%= link_to image_tag("email.png"), "mailto:yueweng.mak@gmail.com" %>
      </div>
    </div>
  </header>
  <div class="brief-description">
    <div class="background-image">
      <div class="description">
        <div class="text">
          <div class="left">
            <h1> Hi, I'm Yue Weng</h1>
            <p>
              I graduated from the University of Wisconsin-Madison in 2009 and 2012. Since then, I have been involved with new technologies including
              Ruby on Rails and web development. I work on <strong>web apps</strong> and <strong>websites</strong>.
            </p>
            <div class="see-my-work">
              See my work
            </div>
          </div>
          <div class="right">
            <%= image_tag "profile-pic.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project lumoid">
    <div class="background-image">
      <div class="wrapper">
        <div class="information">
          <div class="left">
            <%= link_to image_tag("lumoid-homepage.png"), "https://www.lumoid.com", :target => "_blank" %>
          </div>
          <div class="right desc">
            <div class="headline">
              Lumoid
            </div>
            <p>
              Worked as a front end engineer, implementing mock up designs. Helped with launching a peer to peer rental service.
            </p>
            <div class="what-i-did"> What I did :</div>
            <p> HTML, CSS, JavaScript</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="project letote">
    <div class="background-image">
      <div class="wrapper">
        <div class="information">
          <div class="left desc no-margin">
            <div class="headline">
              LE TOTE
            </div>
            <p>
              Worked as a full stack engineer, with front end technologies as well as back end.
            </p>
            <div class="what-i-did"> What I did :</div>
            <p> HTML, CSS, JavaScript, Ruby on Rails</p>
          </div>
          <div class="right">
            <%= link_to image_tag("letote-homepage.png"), "https://www.letote.com", :target => "_blank" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activities">
    <div class="headline">
      Besides work, I also like
    </div>
    <ul class="activity-list">
      <li>
        <%= image_tag "map.png"%>
        <div class="title">
          Travel
        </div>
      </li>
      <li>
        <%= image_tag "beach.png"%>
        <div class="title">
          Going to the beach
        </div>
      </li>
      <li>
        <%= image_tag "bike.png"%>
        <div class="title">
          Biking
        </div>
      </li>
      <li>
        <%= image_tag "sofa.png"%>
        <div class="title">
          Chilling out at home
        </div>
      </li>
    </ul>
  </div>
  <div class="get-in-touch">
    <div class="wrapper">
      <div class="headline">
        GET IN TOUCH
      </div>
      <ul class="footer-links">
        <li><%= link_to image_tag("footer_twitter_2x.png"), "https://twitter.com/YWMak" %></li>
        <li><%= link_to image_tag("footer_github_2x.png"), "https://github.com/yueweng" %></li>
        <li><%= link_to image_tag("footer_email_2x.png"), "mailto:yueweng.mak@gmail.com" %></li>
      </ul>
    </div>
    <div class="copyright">&copy; <%= Time.now.year %> Yue Weng Mak</div>
  </div>
</div>
